<a href="https://colab.research.google.com/github/alkinatalya/-1/blob/main/DZ_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Условие 1**

## **Условие 2**

In [ ]:
fruits = {
      'банан': 15, 
      'апельсин': 5, 
      'яблоко': 8, 
      'киви': 10}
def quantity(fruits): 
  sum = 0      
  for value in  fruits.values():
    sum = sum + value
  return sum  
  #print(value)
print('Общее количество фруктов на склале:', quantity(fruits))

Общее количество фруктов на склале: 38

## **Условие 3**

In [ ]:
list = [100, 125, -90, 345, 655, -1, 0, 200]
new_list = []
for i in list:
  if i >= 0:
    new_list.append(i)
#print(new_list)

sum = 0
for item in new_list:
    sum += item
print(sum)

[100, 125, 345, 655, 0, 200]
1425

## **Условие 4**

## **Уславие 4.1**

In [1]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',
        '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
        '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
        '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
money = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592,
         2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
 
print(sum([m for d, m in zip(date, money) if d[5:7] == "11"]))

25098

## **Условие 4.2**

In [2]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',
        '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
        '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
        '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
money = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592,
         2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
 
 
def sum_in_month(date: list, money: list) -> dict:
    res = {}
    for d, m in zip(date, money):
        if d[5:7] in res.keys():
            res[d[5:7]] = res[d[5:7]] + m
        else:
            res[d[5:7]] = m
    return res
 
print(sum_in_month(date, money))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}